<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="unknown"/>

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <property name="LOG_FILE_ENABLED" value="${LOG_FILE_ENABLED:-true}"/>
    <property name="LOG_FILE_AS_JSON" value="${LOG_FILE_AS_JSON:-false}" />
    <property name="GRAYLOG_HOST" value="${GRAYLOG_HOST:-localhost}" />
    <property name="GRAYLOG_UDP_PORT" value="${GRAYLOG_UDP_PORT:-12201}" />
    <property name="GRAYLOG_ENABLED" value="${GRAYLOG_ENABLED:-false}" />

    <include resource="rolling-file-appender.xml" />
    <include resource="console-appender.xml" />
    <include resource="gelf-appender.xml" />

    <if condition='property("LOG_FILE_ENABLED").contains("true")'>
        <then>
            <root>
                <appender-ref ref="ROLLING_FILE" />
            </root>
        </then>
    </if>

    <if condition='property("GRAYLOG_ENABLED").contains("true")'>
        <then>
            <root>
                <appender-ref ref="GELF" />
            </root>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="GELF" />
    </root>

</configuration>